/* #region-common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

:root {
    --var-light-btn: #0061fe;
}



/* #endregion-common */
/* #region-debug */
.debug {
    * {
        border: 1px dotted black;
    }

    /*  nav {
        background-color: rgb(192, 107, 107);
    }
 */

}

/* #endregion-debug */
/* #region-utilities */
.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: auto;
    flex-basis: auto;
    margin: 0 -1rem;
}

[class^="col"] {
    padding: 1rem;
}

.col-1 {
    width: calc(100% / 12 * 1);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

.d-flex {
    display: flex;
}

.primary-cont {
    width: 70%;
    margin: auto;
}

.secondary-cont {
    width: 80%;
    margin: auto;
}

.l-none {
    list-style: none;
}

.m-top-bot {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.w-20 {
    width: 20%;
}

.max-width-100 {
    max-width: 100%;
}

.bold {
    font-weight: bold;
}

.light-check {
    color: var(--var-light-btn);
}


.light-btn {
    background-color: var(--var-light-btn);
    padding: 0.3rem;
    text-decoration: none;
    color: white;
    font-size: smaller;


}


/* #endregion-utilities */
header {
    background-color: white;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 200;
    font-size: smaller;


    #tool-bar {
        align-items: center;
        font-size: large;


        #nav-col1 {


            ul {
                align-items: center;
                margin-left: 1rem;
                gap: 1rem;

                li {
                    border-bottom: 3px solid transparent;

                    a {
                        text-decoration: none;
                        color: black;



                    }

                    &hover {
                        border-color: black;
                    }
                }
            }
        }

        #nav-col2 {
            ul {
                justify-content: end;
                gap: 1rem;

                li {
                    padding: 5px;

                    a {
                        text-decoration: none;
                        color: black;
                    }
                }

                .light-btn {
                    a {
                        color: white;
                    }

                }
            }

        }
    }


}

#jumbotron {
    background-color: #b4d0e6;
    font-size: small;
    padding-top: 6rem;

    h1 {
        font-size: 4rem;
    }

    .col-3 {
        position: relative;



        i {
            font-size: 4rem;
            position: absolute;
            bottom: 0;
            color: black;

        }
    }

    #free-trial {
        a {
            padding: 0.5rem;
        }
    }

    #cancel {
        color: black;
    }

    .col-9 {
        flex-wrap: nowrap;

        margin-bottom: -6rem;
    }

}

#business-plan {
    margin-top: 10rem;
    border-top: 1px solid grey;

    #business-cont {
        margin-top: 4rem;

        .card {
            border: 1px solid;
            margin-left: -1rem;
            height: 100%;

            .card-top {
                text-align: center;
                border-bottom: 1px solid;
                margin-bottom: 1rem;
            }

            li {
                margin-bottom: 1rem;
            }
        }

        .col-12 {
            margin-top: 4rem;
            border: 1px solid;


            .card-top {
                text-align: center;
                border-bottom: 1px solid;
                margin-bottom: 1rem;
            }

            ul {
                list-style: none;

                h3 {
                    margin-bottom: 1rem;
                }

                h4 {
                    margin-bottom: 2rem;
                }

                #contact-btn {
                    width: 30%;
                    text-align: end;
                    padding-top: 2px;

                    a {
                        width: 100%;
                    }
                }
            }

        }

    }

    #partner-description {
        h3 {
            margin-top: 3rem;
            margin-bottom: 2rem;
        }

        p {
            font-size: small;
            margin-bottom: 2rem;
        }

        div {
            a {

                text-decoration: none;
                color: black;
                border: 1px solid black;
                padding: 0.2rem;
            }
        }
    }


}