/* #region-common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion-common */
/* #region-debug */
.debug {
    * {
        border: 1px dotted black;
    }

    nav {
        background-color: rgb(192, 107, 107);
    }
}

/* #endregion-debug */
/* #region-utilities */
.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: auto;
    flex-basis: auto;
}

.col-1 {
    width: calc(100% / 12 * 1);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

.d-flex {
    display: flex;
}

/* #endregion-utilities */

#nav-col1 {
    ul {
        list-style: none;
    }
}

#nav-col2 {
    ul {
        list-style: none;
        justify-content: end;
    }
}